/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.cell {
  width: 100px;
  height: 100px;
  cursor: pointer;
  user-select: none;
  border-radius: 10%;
  font-size: 48px;
  color: black;
}

.yellow {
  background: #ffc91a;
}

.green {
  background: #95be29;
}

.orange {
  background: #f17c14;
}

.blue {
  background: #54c4f1;
}

.red {
  background: #e71564;
}

.white {
  background: white;
}

.table-head {
  font-weight: 800;
  font-size: 32px;
  text-align: center;
}

.star {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  color: #ffffff21;
}

.grid-table {
  width: 1500px;
  table-layout: fixed;

  td {
    text-align: center;
  }
}

.cell {
  text-align: center;
}
